/* @import url('britney.css'); */
@import url('britney.css');

/* My styles */
body { 

  background: #FFF1E6;
  font-family: 'Britney-Light';

}

/* 0,0,0,2*/
body h1 {
  font-family: 'Britney-Regular';
  margin: 5px;
}

article{

  background: #FDE2E4;

}

h1, 
p {color: #000;
}

p {
  color: #363535;
}

nav{

  display:flex;
  justify-content: center;
  
}

img {
  display:grid;
  align-content: center;
  justify-content: center;
  border-radius: 15px;
  width: 85%;
  height: 93%;
}
